body{
    margin:0;
    text-align: center;
    background-image: url(backgrounnd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
form{
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 1);
    width: 280px;
    height: 350px;
    border-radius: 13px;
    position: absolute;
    inset: 50%;
    translate: -50% -50%;
    background-color: rgba(17, 65, 37, 0.486);
    overflow: hidden;
    
    
}

.user{
    margin: 5px;
    padding: 8px; 
    border-radius: 5px;
    font-family: Verdana;
    background-color: rgba(50, 90, 77, 1);
    transition: 1s;

    
}
.pass{
    margin:5px;
    padding: 8px;
    border-radius: 5px;
    font-family: Verdana;
    background-color: rgba(50, 90, 77, 1);
    transition: 1s;
    
}
.user:hover{
    background-color: gray;
}
.pass:hover{
    background-color: gray;
}
.input{
   font-size: 13px;
   font-family: Verdana;
   font-weight: bold;
   padding-top: 13px;
   color: lightgreen;
  
  
}
h1{
    text-shadow: 2px 2px black;
}
    
.btn{
    display: inline;
    padding: 8px;
    border-radius: 5px;
    font-family: Verdana;
    background-color: rgba(50, 90, 77, 1);
    color: white;
    transition: 1s;
    margin-top:15px;
}
.btn:hover{
    background-color: gray;
}

::placeholder{
    color: white;
}
a{
    text-decoration: none;
    color: lightseagreen;
}
.fa-solid.fa-circle-user{
    position:absolute;
    right: 45;
    bottom: 240;
    padding-left: 2px;
    
}
.fa-solid.fa-lock{
    position:absolute;
    right: 45;
    bottom: 195;
    padding-left: 2px;
}